/* --------------------------
 |          Colors          |
 -------------------------- */

$primaryColor:      #242424;
$textGrey:          #898989;
$textWhite:         #FFFFFF;



/* --------------------------
 |       Media sizes        |
 -------------------------- */
 
 $desktop_lg:           1600px;
 $desktop_sm:           1200px;
 $tablet_lg:            992px;
 $tablet_sm:            768px;
 $mobile_lg:            576px;
 $mobile_sm:            480px;
 
 
 
 /* --------------------------
  |           Other          |
  -------------------------- */

  $fontFamily: 'Poppins', sans-serif;
  $background: #f6f6f6;